<html>
    <head>
        <title> Sala não encontrada </title>
        <script>
            confirm("Sala não encontrada")
            window.location.replace("/")
        </script>
    </head>
</html>